<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="protocol" value="@PROTOCOL@" />
    <add key="server" value="@SERVER@" />
    <add key="port" value="@PORT@" />
    <add key="path" value="@APPLICATION_NAME@" />
    <add key="slaveuserid" value="@SLAVEUSERID@" />
    <add key="slalistenerport" value="8000" />
    <add key="type" value="slave"/>
    <add key="frequency" value="20000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>